<h2>Reviewing <%= @deck.name %></h2>

<div class='card-review'>
  <%= render partial: 'cards/review', locals: { card: @return_card } %>
</div>

<div>
  < <%= link_to 'Quit and Return to Deck', deck_path(@deck) %>
</div>